[user]
    email = contact@jasonmiller.nl
    name = Jason Miller
    signingkey = C7837ACE0865BDDE  
[core]
    autocrlf = input
    safecrlf = true
    editor = nvim
[alias]
    code-changes = !git log --format=format: --name-only | rg -v '^$' | sort | uniq -c | sort -rg | head -10
    cc = !git code-changes
[difftool "nvim-diff"]
    cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED
[diff]
    tool = nvim-diff
[mergetool "nvim-merge"]
    cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED
[merge]
    tool = nvim-merge
[commit]
    gpgsign = true
[protocol]
    version = 2
