* {
    font-family: SF Pro Display, SF Mono Nerd Font, PolybarSymbols, sans-serif;
    font-size: 14px;
    font-weight: 600;

    border: none;
    border-radius: 0;
}

window#waybar {
    /* Smooth gradient
     * For more information, see: https://larsenwork.com/easing-gradients
     **/
    background: linear-gradient(
        rgba(0, 0, 0, 0.9) 0%,
        rgba(0, 0, 0, 0.897) 8.1%,
        rgba(0, 0, 0, 0.89) 15.5%,
        rgba(0, 0, 0, 0.879) 22.5%,
        rgba(0, 0, 0, 0.865) 29%,
        rgba(0, 0, 0, 0.848) 35.3%,
        rgba(0, 0, 0, 0.83) 41.2%,
        rgba(0, 0, 0, 0.81) 47.1%,
        rgba(0, 0, 0, 0.79) 52.9%,
        rgba(0, 0, 0, 0.77) 58.8%,
        rgba(0, 0, 0, 0.752) 64.7%,
        rgba(0, 0, 0, 0.735) 71%,
        rgba(0, 0, 0, 0.721) 77.5%,
        rgba(0, 0, 0, 0.71) 84.5%,
        rgba(0, 0, 0, 0.703) 91.9%,
        rgba(0, 0, 0, 0.7) 100%
    );
    color: #ffffff;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3f3f3f;
}

window#waybar.chromium {
    background-color: transparent;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #727272;
}

#workspaces button.focused {
    color: #fff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: transparent;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 4px;
    margin: 0 2px;
    color: #ffffff;
}

#clock {
    margin-left: 8px;
}

#tray {
    margin-right: 8px;
}

#battery {
    background-color: #ffffff;
    color: #000000;
}

#battery.charging {
    color: #ffffff;
    background-color: #26a65b;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: transparent;
    color: #fff;
}

#memory {
    background-color: #9b59b6;
}

#backlight {
    background-color: #90b1b1;
}

#custom-github {
    background-color: transparent;
}

#network {
    background-color: transparent;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    color: #fff;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: transparent;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}
